<%- model_class = User -%>
<div class="section-title">
  <h1><%=t '.title', :default => 'Super Admin Profile' %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @super_admin.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @super_admin.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @super_admin.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @super_admin.age %></dd>
</dl>
<div class="form-actions">
  <%= link_to t('.edit', :default => t("Update profile")), admin_super_update_profile_path(:id => current_user.id),
              {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}, :class => 'btn' %>
</div>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<script lang="" >
    $('#modal-window').on('hidden.bs.modal', function () {
        location.reload();
    })
</script>