<%- model_class = User -%>
<div class="section-title">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if sort_column == 'position' %>
    Drag and Drop available
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <td><%= sortable_user 'position', '#' %></td>
      <td><%= sortable_user 'id' %></td>
      <td><%= sortable_user 'email' %></td>
      <td><%= sortable_user 'first_name' %></td>
      <td><%= sortable_user 'last_name' %></td>
      <th></th>
    </tr>
  </thead>
  <tbody  id="sortable">
    <% @users.each do |user| %>
      <tr id="row_<%= user.id %>">
        <td><%= user.position %>
          <input type="hidden" name="<%= user.id %>" value="<%= user.position %>"/>
        </td>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(user),
                      :remote => true,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to t('.Reset password'), reset_password_path(user), :class => 'btn btn-mini btn-info',
                      :remote => true, 'data-toggle' =>  'modal', 'data-target' => '#modal-window' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="apple_pagination">
  <%= ajax_will_paginate @users %>
</div>
<% if sort_column == 'position' %>
<script language="JavaScript">
    $(function() {
        $("#sortable").sortable({
            update: function( event, ui ) {
                    var items = $("#sortable :input").serialize();
                            $.ajax({
                                type: "POST",
                                url: "<%= users_drag_url %>?sort=<%= sort_direction %>",
                                data: items
                            });
                        }
                    })
        $( "#sortable" ).disableSelection();
    });
</script>
<% end %>
<!-- Modal -->
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>