<%- model_class = User -%>
<div class="section-title">
  <h1><%=t '.title', :default => 'Profile' %></h1>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Detail</div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
          <dd><%= @user.email %></dd>
          <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
          <dd><%= @user.first_name %></dd>
          <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
          <dd><%= @user.last_name %></dd>
          <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
          <dd><%= @user.age %></dd>
          <dt></dt>
          <dd>
            <%= link_to t('.edit', :default => t('Update profile')), update_profile_path(:id => current_user.id),
                        {:remote => true, 'data-toggle' =>  'modal', 'data-target' => '#modal-window',
                         :class => 'btn btn-primary'} %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Avatar</div>
      <div class="panel-body">
        <%= form_for @user, :url=>avatar_path, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
            <% if @user.errors.any? %>
                <div class="alert alert-danger" role="alert">
                  <% for message in @user.errors.full_messages %>
                      <p><%= message %></p>
                  <% end %>
                </div>
            <% end %>
        <div class="form-group" style="margin-left: 0px">
          <%= f.file_field :avatar %>
        </div>
        <%= image_tag(@user.avatar_url, :class => 'img-responsive user-avatar-preview') if @user.avatar? %>
        <br/>
         <%= f.submit "Save", :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<script>
    $('#modal-window').on('hidden.bs.modal', function () { location.reload(); })
</script>