<%- model_class = Admin -%>
<div class="section-title">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <td><%= sortable_admin 'id' %></td>
    <td><%= sortable_admin 'email' %></td>
    <td><%= sortable_admin 'first_name' %></td>
    <td><%= sortable_admin 'last_name' %></td>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @admins.each do |admin| %>
      <tr id="row_<%= admin.id %>">
        <td><%= admin.id %></td>
        <td><%= admin.email %></td>
        <td><%= admin.first_name %></td>
        <td><%= admin.last_name %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_admin_path(admin),
                      :remote => true,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="apple_pagination">
  <%= ajax_will_paginate @admins %>
</div>
